body{
    background-color: #F2f5f7;
    font-family: 'Arial';
}
ul{
    list-style-type: none;
}
body{
    background: url(/trabalho_sheinpe/arte_banners/fundo3.0.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}


.logo{
    text-align: center;
    
      
}

   

.navegacao{  
    position: relative;
    /* mudar essa posição para manter a barra fixa*/
    height:10ch; 
    vertical-align: bottom;
    text-align: center;
    background-image: linear-gradient(orange,yellow);
    margin-top: 150px;
    border-radius: 40px;
}

.navegacao h2{
    font-size: 50px
}
.voltar{
    border: none;
    background: none;
    position: relative;
    
}
.navegacao h1{
    position: relative;
    bottom: 50px;
    right: 500px;
    
}
.navegacao button{
    position: relative;
    right: 630px;
    top: 24px;
}
.navegacao ul{
position: relative;
margin-left: 800px;
bottom: 70px;
}
.navegacao ul li{
    padding: 5px;
    transition: box-shadow 0.3s ease;
}
.navegacao ul li:hover{
    border-radius: 800px;
    padding: 6px;
    border-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.icons-nav{
    display: inline-block;
    position: relative;
    margin-left: 50px;
    bottom: 65px;
}

.estilo {   
    
    background-image: linear-gradient(#f9f9f9,#ccc);
    box-shadow: 0 5px 20px rgb(120, 120, 120);
    text-align: center;
    padding: 15px;
    margin-top: 500px;
    width: 500px;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
}
.estilo h1{
    text-align: left;
}
.dados-usuario {
    padding: 10px 25px;
    border: solid 1px #dcdee0;
    border-radius: 8px;
    font-weight: normal;
    margin: 5px;
}
.botao-enviar {
    margin-left: 73%;
    background-color: #3b5998;
    border-radius: 10px;
    padding: 5px 25px;
    font-size: large;
    font-weight: bold;
    color: white;
    font-family: 'Arial';
}
.botao-enviar:hover {
    background-color: green;
    cursor: pointer;
}
.radio {
    display: inline-block;
    padding: 2px;
    border: solid 2px #dcdee0;
    border-radius: 50px;
    font-size: 15px;
    font-weight: normal;
    margin-left: 10%;
    margin-top: -10%;
}
.radio::marker {
    background-color: green;
    color: green;
}
.select-data-de-nascimento {
    display: inline-block;
    padding: 5px;
    border: solid 2px #ccc;
    background-color: #FFF;
    border-radius: 5px;
    font-size: 15px;
    font-weight: normal;
    margin: 0 5px;
    padding: 0 30px;
    height: 30px;
    line-height: 20px;
}
.descricao-de-area {
    padding-bottom: 25px;
    display: block;
    text-align: left;
    font-family: 'arial';
    font-size: normal;
    font-weight: bold;
}
.caixa-texto{
    border-radius: 5px;;
}
.fa-xmark {
    position: absolute;
    margin-left: 40%;
    height: 35px;
    color: red;
}

.footer {
  margin-top: 1000px;  
  background-color:#333;
  padding: 20px;
  color: white;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-nav ul,
.footer-info ul {
  list-style: none;
  padding: 0;
}

.footer-nav ul li,
.footer-info ul li {
  margin-bottom: 5px;
}

.footer-nav ul li a {
  color: white;
  text-decoration: none;
}

.footer-nav ul li a:hover {
  text-decoration: underline;
}
h3{
    text-align: center;
}
input[type=email] {
  transition: width 0.4s ease-in-out;
  height: 12px;
  width: 25px;
  
}

input[type=email]:focus {
  width: 20%;
}